@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #f7f7f7;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi), sans-serif;
  --font-serif: var(--font-fraunces), serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
}


.dark {
    --background: #171717;
    --foreground: #f7f7f7;
}
body {
  background: var(--background);
  color: var(--foreground);
}
